## .NET
bin/
obj/
publish/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS / VS Code
.vs/
.vscode/

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.Development.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
